<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bondevans.chordinator"
    android:installLocation="auto"
    android:versionName="v6.2.1Dim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Chordinator_Dark_Theme.Theme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_label" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <activity
            android:name="com.bondevans.chordinator.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bondevans.chordinator.SongViewerActivity"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.txt" />
                <data android:pathPattern=".*\\.csf" />
                <data android:pathPattern=".*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.csf" />
                <data android:pathPattern=".*\\.chopro" />
                <data android:pathPattern=".*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.chopro" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.chopro" />
            </intent-filter>
        </activity>
        <activity
			android:name="com.bondevans.chordinator.SongBrowserActivity"
			android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <provider
            android:name="com.bondevans.chordinator.db.SongProvider"
            android:authorities="com.bondevans.chordinator.dim"
            android:multiprocess="true" >
        </provider>

        <activity android:name="com.bondevans.chordinator.EditSong" >
        </activity>
        <activity
            android:name=".prefs.ChordinatorPrefsActivity">
        </activity>
        <activity android:name="com.bondevans.chordinator.prefs.EncodingPrefs" >
        </activity>
        <activity android:name="com.bondevans.chordinator.search.SearchCriteria" >
        </activity>
        <activity android:name="com.bondevans.chordinator.search.SearchActivity" >
        </activity>
        <activity android:name="com.bondevans.chordinator.setlist.SetSongListActivity" 
			android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.bondevans.chordinator.setlist.EditSetList"
            android:configChanges="orientation"
            android:label="@string/edit_setlist" >
        </activity>
        <activity android:name="com.bondevans.chordinator.asynctask.ScanSongsActivity" >
        </activity>
        <!--<activity android:name="InterstitialActivity"></activity> -->
        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>